.container-card {
  background-color: var(--background);
  width: 260px;
  height: 260px;
  border: 0;
  border-radius: 0.24rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-card:hover {
  background-color: var(--white);
}

.pokemon-name {
  color: var(--blue);
}

.react-modal-overlay {
  background: rgba(0, 0, 0, 0.5);

  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.react-modal-content {
  width: 100%;
  max-width: 576px;
  max-height: 100%;
  overflow-y: auto;
  background: var(--background);
  padding: 3rem;
  position: relative;
  border-radius: 0.24rem;
}

.modal-container-header {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--grey);
}

.modal-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn-exit {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  font-size: 1rem;
  font-weight: 700;
  height: 2rem;
  width: 2rem;
  background-color: var(--red);
  color: var(--white);
  border: 0;
  border-radius: 0.25rem;

  transition: filter 0.2s;
}

.btn-exit:hover {
  filter: brightness(0.8);
}

.modal-container-section {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

@media (max-width: 425px) {
  .modal-container-section {
    margin-bottom: 1rem;
    grid-template-columns: repeat(1, 1fr);
  }
}

.section-titles {
  padding: 1rem 0;
}

.container-types {
  display: flex;
  gap: 1rem;
}

.types {
  padding: 5px;
  font-size: 1rem;
  font-weight: 700;
  color: var(--white);
  border: 0;
  border-radius: 0.25rem;
}
