.container-header {
  background-color: var(--yellow);
}

.content-header {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: left;
}

@media (max-width: 720px) {
  .content-header {
    justify-content: center;
  }
}

.logo-header {
  height: 80px;
  width: auto;
}
